.header {
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 96px;
  border-bottom: 1px solid black;
}

/* rest of css */

.nav {
  display: flex;
  justify-content: space-between;
  gap: 64px;
}