.radioButton {
  display: flex;
}

.know_each_other {
  float: left;
  margin-right: 5px;
}

.sidebar {
  float: left;
  width: 50%;
  display: flex;
  align-items: center;
}

.questions {
  float: left;
  width: 50%;
}

.response_button {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  width: 563px;
  padding: 24px;
  align-items: center;
  gap: 16px;
  border-radius: 12px;
  border: 2px solid #e7e5e4;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
  cursor: pointer;
}

.response_button_active {
  border: 2px solid #67e8f9;
  background: #ecfeff;
}

.response_icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.pagination_button {
  border-radius: 0.75rem;
  border: 2px solid #e7e5e4;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  display: inline-flex;
  padding: 1rem 1.25rem;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
}

.pagination_button_disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
